---
import { Label } from '../ui/label'
import { cn } from '@/lib/utils'

interface Props {
	title?: string
	description?: string
	className?: string
}

const { title, description, className } = Astro.props
---

<section class={cn('section-padding', className)}>
	<div class="container flex flex-col">
		<header class="mb-5 flex w-full flex-col">
			<h2 class="text-lg font-semibold text-brand-secondary md:text-xl">
				{title}
			</h2>
			<p class="text-base font-normal text-tertiary md:text-lg">
				{description}
			</p>
		</header>
		<slot name="section-content" />
	</div>
</section>
