---
// import MasonryGrid from '@/features/gallery/components/masonry-grid'
import MainLayout from '@/layouts/main-layout.astro'
import HeaderSection from '@/components/sections/header-section.astro'
---

<MainLayout title="Work" mainClass="">
	<HeaderSection
		title="Archives"
		description={`
			
		`}
		cover="/work/Work_Cover"
		animation={true}
	/>

	<div class="reveal animate-revealContent section-padding pb-16 md:pb-24">
		<!-- <MasonryGrid client:load /> -->
	</div>
</MainLayout>
