---
import MainLayout from '@/layouts/main-layout.astro'
import { capitalizer } from '@/lib/utils'
import { getCollection } from 'astro:content'
import ProjectTabs from '@/features/projects/components/project-tabs.astro'
import ProjectCard from '@/features/projects/components/project-card.astro'
import HeroSection from '@/components/sections/hero-section.astro'

export async function getStaticPaths() {
	const projects = (await getCollection('work')) as {
		data: { category: string; date: Date; excluded: boolean }
	}[]
	const uniqueCategories = [
		...new Set(
			projects
				.filter((project) => !project.data.excluded) // Exclude projects marked as excluded
				.map((project) => project.data.category)
				.flat()
		)
	]

	return uniqueCategories.map((category) => {
		const filteredProjects = projects
			.filter((project) => project.data.category.includes(category) && !project.data.excluded) // Exclude projects marked as excluded
			.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
		return {
			params: { category },
			props: { projects: filteredProjects }
		}
	})
}

const { category } = Astro.params
const { projects } = Astro.props
---

<MainLayout
	title={`${capitalizer(category)} | Blog`}
	description={`All projects for ${category} category`}
>
	<HeroSection title="Work" description="" cover="work/Work_Cover" animation={false} />

	<div class="section-padding pb-16 md:pb-24">
		<ProjectTabs />
		<div class="container grid select-none grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3">
			{projects.map((project) => <ProjectCard {...project} />)}
		</div>
	</div>
</MainLayout>
