---
import MainLayout from '@/layouts/main-layout.astro'
import ProjectTabs from '@/features/projects/components/project-tabs.astro'
import ProjectCard from '@/features/projects/components/project-card.astro'
import { getProjects } from '@/lib/fetchers'
import HeaderSection from '@/components/sections/header-section.astro'

const projects = await getProjects()
---

<MainLayout title="Work" mainClass="">
	<HeaderSection
		title="Work"
		description={`
			Examples of Colin's work and contributions made to the projects he's been apart of.
		`}
		cover="/work/Work_Cover"
		animation={true}
	/>

	<div class="reveal animate-revealContent section-padding pb-16 md:pb-24">
		<ProjectTabs />
		<div class="container grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3">
			{projects.map((project) => <ProjectCard {...project} />)}
		</div>
	</div>
</MainLayout>
