---
import { buttonVariants } from '@/components/ui/button'
import { cn } from '@/lib/utils'

const { collection } = Astro.params
---

<ul class="container mb-12 flex w-full items-center gap-3 overflow-auto">
	<li class="">
		<a
			href={`/archives`}
			class={cn(
				!collection ? '' : '',
				buttonVariants({
					variant: !collection ? 'secondary' : 'link',
					size: 'sm',
					rounded: 'full'
				}),
				'w-max'
			)}
		>
			All images
		</a>
	</li>
</ul>
