---
import { buttonVariants } from '@/components/ui/button'
import { getCategories } from '@/lib/fetchers'
import { cn } from '@/lib/utils'

const categories = await getCategories()

const { category } = Astro.params
---

{
	categories?.length ? (
		<ul class="container mb-12 flex w-full items-center gap-3 overflow-auto">
			<li class="">
				<a
					href={`/work`}
					class={cn(
						!category ? '' : '',
						buttonVariants({
							variant: !category ? 'secondary' : 'link',
							size: 'sm',
							rounded: 'full'
						}),
						'w-max'
					)}
				>
					All projects
				</a>
			</li>
			{categories.map((item) => (
				<li class="">
					<a
						href={`/work/${item}`}
						class={cn(
							'capitalize',
							item === category ? '' : '',
							buttonVariants({
								variant: item === category ? 'secondary' : 'link',
								size: 'sm',
								rounded: 'full'
							})
						)}
					>
						{item}
					</a>
				</li>
			))}
		</ul>
	) : (
		<div />
	)
}
