---
import { cn } from '@/lib/utils'
import BaseHead from '@/components/layout/base-head.astro'
import SpeedInsights from '@vercel/speed-insights/astro'

type Props = {
	title: string
	description?: string
	bodyClass?: string
}

const { title, description, bodyClass } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class={cn('', bodyClass)}>
		<slot />
		<SpeedInsights />
	</body>
</html>
