---
import { cn } from '@/lib/utils'
import BaseLayout from './base-layout.astro'
import Header from '@/components/layout/header.astro'
import Footer from '@/components/layout/footer.astro'

type Props = {
	title: string
	description?: string
	cover?: string
	mainClass?: string
}

const { title, description, cover, mainClass }: Props = Astro.props
---

<BaseLayout
	title={title}
	description={description}
	image={cover}
	bodyClass="relative"
>
	<Header />
	<main class={cn('', mainClass)}>
		<slot />
	</main>
	<Footer />
</BaseLayout>
